body{
	margin: 30px auto;
	width:900px;
	font-family: "Times New Roman", Times, serif;
	font-size:16px;
	font-weight:normal;
	color:#000;
	text-align: center;
}
h1{
	margin-bottom: 50px;
}
table{
	margin : 5px auto;
	text-align: left;
}
table tr th{
	text-align: center;
}